<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partial/_head') %>
    <title>TinyApp</title>
  </head>
<body>
  <%- include('partial/_header') %>


  <section class="container">

    <div class="row">
      
      <div class="cell shortUrl">
        <h3>
          Short Url
        </h3>
      </div>

      <div class="cell fullUrl">
        <h3>
          Full Url
        </h3>
      </div>

      <div class="cell redirects">
        <h3>
          Redirects
        </h3>
      </div>

      <div class="cell users">
        <h3>
          Users
        </h3>
      </div>

      <div class="cell edit">
        <h3>
          Edit/Delete
        </h3>
      </div>

    </div>

    
    <% for (const key in urls) { %>

      <div class="row">
        
        <div class="cell shortUrl">
          <a href="/u/<%= urls[key].id %>">
            <%= urls[key].id %>
          </a>
        </div>
        
        <div class="cell fullUrl">
          <%= urls[key].urlForInspection %>
        </div>

        <div class="cell redirects">
          <%= urls[key].redirects %>

        </div>

        <div class="cell users">
          <%= urls[key].uniqueVisitors %>
        </div>

        <div class="cell edit">
            <form method="GET" action="/urls/<%= urls[key].id %>">
              <button type="submit">
                Edit
              </button>
            </form>
            <form method="POST" action="/urls/<%= urls[key].id %>/delete?_method=DELETE">
              <button type="submit">
                Delete
              </button>
            </form>
        </div>
      </div>

    <% } %>
      
  </section>
</body>
</html>