<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partial/_head') %>
    <title>TinyApp : Login</title>
  </head>
<body>
  <%- include('partial/_header') %>

  <main>
    <form method="<%= method %>" action="<%= action %>">
      <h2><%= title %></h2>
      <label for="fullUrl">Full Url</label>
      <input type="text" name="fullUrl">   
      <button type="submit"><%= submitName %></button>
    </form>
  </main>

  
</body>
</html>