<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partial/_head') %>
    <title>TinyApp : Login</title>
  </head>
<body>
  <%- include('partial/_header') %>

  <main>
    <form method="<%= method %>" action="<%= action %>">
      <h2><%= title %></h2>
      <label for="email">Email:</label>
      <input type="email" name="email">   
      <label for="password">Password:</label>
      <input type="password" name="password">
      <button type="submit"><%= submitName %></button>
    </form>
  </main>

  
</body>
</html>